@using _0_Framework.Application
@inject IAuthHelper AuthHelper;
@{
    var currentAccount = AuthHelper.CurrentAccountInfo();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="~/Theme/assets/images/favicon.png">
    @if (@ViewData["Title"] != null)
    {
        <title>@ViewData["Title"] | وبلاگ پاکروان</title>
    }
    else
    {
        <title>وبلاگ پاکروان</title>
    }
    <meta name="keywords" content="@ViewData["keywords"]" />
    <meta name="description" content="@ViewData["metaDescription"]" />
    <link href="~/Theme/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Theme/assets/vendor/fontawesome/css/font-awesome.min.css" type="text/css" rel="stylesheet">
    <link href="~/Theme/assets/vendor/animateit/animate.min.css" rel="stylesheet">
    <link href="~/Theme/assets/vendor/owlcarousel/owl.carousel.css" rel="stylesheet">
    <link href="~/Theme/assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="~/Theme/assets/css/theme-base.css" rel="stylesheet">
    <link href="~/Theme/assets/css/theme-elements.css" rel="stylesheet">
    <link href="~/Theme/assets/css/responsive.css" rel="stylesheet">
    <link href="~/Theme/assets/css/color-variations/blue.css" rel="stylesheet" type="text/css" media="screen" title="blue">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,800,700,600%7CRaleway:100,300,600,700,800" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="~/Theme/assets/css/custom.css" media="screen" />
    <script src="~/Theme/assets/vendor/jquery/jquery-1.11.2.min.js"></script>
    <script src="~/Theme/assets/vendor/plugins-compressed.js"></script>
    <link href="~/Theme/assets/css/rtl.css" rel="stylesheet">

</head>
<body class="wide">
    <div class="wrapper">
        <header id="header" class="header-transparent">
            <div id="header-wrap">
                <div class="container">
                    <div id="logo">
                        <a asp-page="./Index" class="logo" data-dark-logo="images/logo-dark.png">
                            <img src="~/Theme/assets/images/logo.png" alt="Polo Logo">
                        </a>
                    </div>
                    <div class="nav-main-menu-responsive">
                        <button class="lines-button x">
                            <span class="lines"></span>
                        </button>
                    </div>
                    <div id="top-search">
                        <a id="top-search-trigger">
                            <i class="fa fa-search"></i>
                            <i class="fa fa-close"></i>
                        </a>
                        <form method="get" asp-page="/Search">
                            <input type="search" name="value" id="value" class="form-control"
                                   placeholder="بعد از اتمام تایپ دکمه ی اینتر را بزنید">
                        </form>
                    </div>
                    <div class="navbar-collapse collapse main-menu-collapse navigation-wrap">
                        <div class="container">
                            <nav id="mainMenu" class="main-menu mega-menu">
                                <ul class="main-menu nav nav-pills">
                                    <li>
                                        <a asp-page="/ArticleCategory" style="color: black; font-size: 14px">
                                            گروه مقالات
                                        </a>
                                    </li>
                                    <li>
                                        @if (AuthHelper.IsAuthenticated())
                                        {
                                            <a asp-page="/Account" asp-page-handler="Logout" style="color: black; font-size: 14px">
                                                خروج
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-page="/Account" style="color: black; font-size: 14px">
                                                ورود/ثبت نام
                                            </a>
                                        }

                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        @RenderBody()
        <footer class="background-dark text-grey" id="footer">
            <div class="footer-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="footer-logo float-left">
                                <img alt="" src="~/Theme/assets/images/logo-sm-dark.png">
                            </div>
                            <p style="margin-top: 12px;">
                                <strong class="text-center">برنامه نویس: علیرضا پاکروان</strong>
                                <br />
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                            </p>

                        </div>
                    </div>
                    <div class="seperator seperator-dark seperator-simple"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="sidebar sidebar-modern col-md-3">
                                <div class="widget clearfix widget-contact-us" style="background-image: url('~/Theme/assets/images/world-map.png');background-position: 50% 55px; background-repeat: no-repeat">
                                    <h4 class="widget-title">ارتباط با من</h4>
                                    <ul class="list-large list-icons">
                                        <li>
                                            @*<i class="fa fa-phone"></i>*@
                                            <strong>موبایل:</strong> 09339614483
                                        </li>
                                        <li>
                                            @*<i class="fa fa-envelope"></i>*@
                                            <strong>ایمیل:</strong> <a href="mailto:alirezapakravan111@gmail.com">alirezapakravan111@gmial.com</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-content">
                <div class="container">
                    <div class="row">
                        <div class="copyright-text col-md-6">
                            &copy; 2016 POLO - Best HTML5 Template Ever. All Rights Reserved.
                            <a target="_blank" href="http://www.inspiro-media.com">INSPIRO</a>
                        </div>
                        <div class="col-md-6">
                            <div class="social-icons">
                                <ul>
                                    <li class="social-facebook">
                                        <a href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li class="social-twitter">
                                        <a href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li class="social-google">
                                        <a href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li class="social-pinterest">
                                        <a href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li class="social-vimeo">
                                        <a href="#">
                                            <i class="fa fa-vimeo-square"></i>
                                        </a>
                                    </li>
                                    <li class="social-linkedin">
                                        <a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li class="social-dribbble">
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                    <li class="social-youtube">
                                        <a href="#">
                                            <i class="fa fa-youtube-play"></i>
                                        </a>
                                    </li>
                                    <li class="social-rss">
                                        <a href="#">
                                            <i class="fa fa-rss"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <a class="gototop gototop-button" href="#">
        <i class="fa fa-chevron-up"></i>
    </a>
    <script src="~/Theme/assets/js/theme-functions.js"></script>
    <script src="~/Theme/assets/js/custom.js"></script>
</body>
</html>