@page "{id}"
@model ServiceHost.Pages.ArticleModel
@{
    ViewData["Title"] = Model.Article.Title;
    ViewData["keywords"] = Model.Article.KeywordList;
    ViewData["metaDescription"] = Model.Article.MetaDescription;
}

<section id="page-title" class="page-title-parallax page-title-center text-dark"
         style="background-image:url(~/Theme/assets/images/parallax/page-title-parallax.jpg);">
    <div class="container">
        <div class="page-title col-md-8">
            <h1>عنوان مقاله: @Model.Article.Title</h1>
            <span>@Model.Article.ShortDescription</span>
        </div>
        <div class="breadcrumb col-md-4">
            <ul>
                <li>
                    <a asp-page="./Index">خانه</a>
                </li>
                <li>
                    <a asp-page="/ArticleCategory">
                        @Model.Article.CategoryName
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="content">
    <div class="container">
        <div class="row">
            <div class="post-content post-modern post-content-single col-md-9">
                <div class="post-item">
                    <div class="post-image">
                        <a href="#">
                            <img alt="@Model.Article.PictureAlt" src="~/Theme/assets/images/blog/@Model.Article.Picture"
                                 title="@Model.Article.PictureTitle">
                        </a>
                    </div>
                    <div class="post-content-details">
                        <div class="post-title">
                            <h2>@Model.Article.Title</h2>
                        </div>
                        <div class="post-description">
                            <p>@Html.Raw(Model.Article.Description)</p>
                        </div>
                    </div>
                    <div class="post-meta">
                        <div class="post-date">
                            <span class="post-comments-number">@Model.Article.PublishDate</span>
                        </div>
                        <div class="post-comments">
                            <a href="#">
                                <i class="fa fa-comments-o"></i>
                                <span class="post-comments-number">@Model.Article.Comments.Count</span>
                            </a>
                        </div>
                        <div class="post-comments">
                            <a href="whatsapp://send?text= خواندن این مقاله با موضوع @Model.Article.Title را به شما پیشنهاد میکنم https://localhost:5001/Article/@Model.Article.Slug" data-action="share/whatsapp/share">
                                <i class="fa fa-whatsapp"></i>
                                <span class="post-comments-number">اشتراک گذاری</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="comments" class="comments">
                    <div class="heading">
                        <h4 class="comments-title">نظرات <small class="number">(@Model.Article.Comments.Count)</small></h4>
                    </div>
                    @foreach (var comment in Model.Article.Comments)
                    {
                        <div class="comment">
                            <a href="#" class="pull-left" id="comment-@comment.Id">
                                <img alt="" src="~/Theme/assets/images/team/2.jpg" class="avatar">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">@comment.Name</h4>
                                <p class="time">@comment.CreationDate</p>
                                <p>@comment.Message</p>
                                @if (comment.ParentId > 0)
                                {
                                        <span>در پاسخ به: </span><a href="#comment-@comment.Id">@comment.ParentName</a><br/>
                                }
                                <a href="#postComment" onclick='$("#commentParentId").val("@comment.Id")' class="comment-reply pull-right">
                                    <i class="fa fa-reply"></i> جواب
                                </a>
                            </div>
                        </div>
                    }
                    
                </div>
                <div class="comment-form" id="postComment">
                    <div class="heading">
                        <h4>نطر خود را به اشتراک بگذارید</h4>
                    </div>
                    <form class="form-gray-fields" method="post">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name" class="upper">نام کامل</label>
                                    <input type="text" aria-required="true" id="name" placeholder="نام خود را بنویسید" name="name" class="form-control required">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="email" class="upper">ایمیل</label>
                                    <input type="email" aria-required="true" id="email" placeholder="ایمیل خود را بنویسید" name="email" class="form-control required email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="comment" class="upper">نظر</label>
                                    <textarea aria-required="true" id="message" placeholder="نظر خود را بنویسید" rows="9" name="message" class="form-control required"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i>&nbsp;ارسال نظر</button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="ownerRecordId" value="@Model.Article.Id" />
                        <input type="hidden" name="articleSlug" value="@Model.Article.Slug" />
                        <input type="hidden" name="parentId" id="commentParentId" value="" />
                    </form>
                </div>
            </div>
            <div class="sidebar sidebar-modern col-md-3">
                <div class="widget clearfix widget-tags">
                    <h4 class="widget-title">تگ ها</h4>
                    <div class="tags">
                        @foreach (var tag in Model.Article.KeywordList)
                        {
                            <a asp-page="/Search" asp-route-value="@tag">@tag</a>
                        }
                    </div>
                </div>
                <div class="widget clearfix widget-blog-articles">
                    <h4 class="widget-title">آخرین مقالات</h4>
                    <ul class="list-posts list-medium">
                        @foreach (var article in Model.LatestArticles)
                        {
                            <li>
                                <a asp-page="/Article" asp-route-id="@article.Slug">
                                    @article.Title
                                </a>
                                <small>@article.PublishDate</small>
                            </li>
                        }


                    </ul>
                </div>
                <div class="widget clearfix widget-contact-us" style="background-image: url('~/Theme/assets/images/world-map.png');background-position: 50% 55px; background-repeat: no-repeat">
                    <h4 class="widget-title">ارتباط با من</h4>
                    <ul class="list-large list-icons">
                        <li>
                            @*<i class="fa fa-phone"></i>*@
                            <strong>موبایل:</strong> 09339614483
                        </li>
                        <li>
                            @*<i class="fa fa-envelope"></i>*@
                            <strong>ایمیل:</strong> <a href="mailto:alirezapakravan111@gmail.com">alirezapakravan111@gmial.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>